html, body{
    height: 100%;
    width: 100%;
    background: #131313;
}

.navbar{
    height: 5rem;
    background: #131313;
}

.principalFeatures {
    color: red;
    font-size: 1.3rem;
    margin-left: 2.8rem;
}
.logo{
    font-size: 2.5rem;
    color: white;
    font-family: 'Playfair Display', serif;
}

.ImagenesPrincipales{
    height: 24rem;
    text-align: center;
}

.imgText{
    font-size: 5rem;
    color: white;
    margin-bottom: 4rem;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px #1D9AF2;
}

button { 
    color: #1D9AF2;
    background-color: #292D3E;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height:32px;
    font-size:14px;
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
    button:hover { 
    box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
    transform: translateX(-3px);
    }

.jumbotron1{
    height: 16rem;
    background: #131313;
    margin-top: 4rem;
}

.padre1{
    height: 16rem;
    background: #131313;
    
}

.icon1{
    background: #131313;
}

.icon2{
    background: #131313;
}

.icon3{
    background: #131313;
}

.container {
    max-width: 1200px;
}

.logoText{
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.jumbotron2{
    height: 20rem;
    background: #131313;
}

.jumbotron3{
    height: 20rem;
    background: #131313;
}



.tema1{
    color: #53a7ea;
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 2.5rem;
}


.scrollmenu {
    background: #131313;
  overflow: auto;
  white-space: nowrap;
  height: 20rem;
}

.scrollmenu .books {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.scrollmenu .books:hover {
  background-color: #181818;
}

.books{
    height: 16rem;
    width: 11rem;
}


.scrollmenu .Podcast {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  .scrollmenu .Podcast:hover {
    background-color: #181818;
  }

  .Podcast{
    height: 16rem;
    width: 11rem; 
}